{% extends 'learning_logs/base.html' %}
{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}
{% block content %}
<h4> Личный кабинет {{ user.username }} </h1>

{% for message in messages %}
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3>
           <a href = "/account/{{ message.sender.id}}">{{ message.sender.username }}</a>
        </h3>
      </div>
      <div class="panel-body">
      	<h5> Тема: {{ message.title }} </h5>
        {{ message.text|linebreaks }}
      </div>

    </div> <!-- panel -->
{% empty %}
    Сообщений нет
{% endfor %}

            {% if messages.paginator.num_pages > 1 %}
              <div class="b-items__pagination wow zoomInUp" data-wow-delay="0.5s">
                <div class="b-items__pagination-main">
                  {% if messages.has_previous %}
                    <a href="{% url 'learning_logs:messages' %}?page={{messages.previous_page_number}}" class="m-left">
                      <span class="fa fa-angle-left"></span>
                    </a>
                  {% endif %}
                  
                  {% for page in messages.paginator.page_range %}
                  
                    {% if messages.number == page %}
                      <span class="m-active"> 
                        {{ page }} 
                      </span>
                    {% else %}
                      <span>
                        <a href="{% url 'learning_logs:messages' %}?page={{page}}"> 
                          {{ page }} 
                        </a>
                      </span>
                    {% endif %}
                    
                  {% endfor %}
                  
                  {% if messages.has_next %}
                    <a href="{% url 'learning_logs:messages' %}?page={{messages.next_page_number}}" class="m-right">
                      <span class="fa fa-angle-right"></span>
                    </a> 
                  {% endif %}  
                </div>
              </div>
            {% endif %}

{% endblock content %}